[submodule "Wolf.Utility.Core"]
	path = Wolf.Utility.Core
	url = https://github.com/andr9528/Wolf.Utility.Core
[submodule "Tracker.wiki"]
	path = Tracker.wiki
	url = https://github.com/andr9528/Tracker.wiki.git
